<h1>Search Results</h1>
<p>Find me in app/views/search/index.html.erb</p>

<table>
	<tr>
		<th>Title</th>
		<th>Description</th>
		<th>Year Released</th>
		<th>Rating</th>

	</tr>

	<%= render 'list' %>
</table>

<%= link_to "Home", root_path %>